Regression

In [3]:
import pandas as pd
df = pd.read_csv('st.csv')
df.head()

   hours  score  eca  sleep  practice  grade
0      7     99  Yes      9         1     91
1      4     82   No      4         2     65
2      8     51  Yes      7         2     45
3      5     52  Yes      5         2     36
4      7     75   No      8         5     66

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
le

LabelEncoder()

In [6]:
a = df
a.eca = le.fit_transform(a.eca)
a

      hours  score  eca  sleep  practice  grade
0         7     99    1      9         1     91
1         4     82    0      4         2     65
2         8     51    1      7         2     45
3         5     52    1      5         2     36
4         7     75    0      8         5     66
...     ...    ...  ...    ...       ...    ...
9995      1     49    1      4         2     23
9996      7     64    1      8         5     58
9997      6     83    1      8         5     74
9998      9     97    1      7         0     95
9999      7     74    0      8         1     64

[10000 rows x 6 columns]

In [7]:
from sklearn.model_selection import train_test_split

In [10]:
x = a.drop('grade', axis='columns')

In [11]:
x

      hours  score  eca  sleep  practice
0         7     99    1      9         1
1         4     82    0      4         2
2         8     51    1      7         2
3         5     52    1      5         2
4         7     75    0      8         5
...     ...    ...  ...    ...       ...
9995      1     49    1      4         2
9996      7     64    1      8         5
9997      6     83    1      8         5
9998      9     97    1      7         0
9999      7     74    0      8         1

[10000 rows x 5 columns]

In [13]:
y = a['grade']

In [14]:
y

0       91
1       65
2       45
3       36
4       66
        ..
9995    23
9996    58
9997    74
9998    95
9999    64
Name: grade, Length: 10000, dtype: int64

In [49]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [50]:
x_train

      hours  score  eca  sleep  practice
2996      3     88    0      9         1
2159      6     53    1      9         2
7072      2     75    1      5         3
2770      3     83    0      6         2
9050      3     91    0      5         7
...     ...    ...  ...    ...       ...
9012      1     85    1      9         1
3079      9     85    0      9         1
727       1     98    0      7         9
4829      9     87    0      5         9
3836      7     73    0      7         7

[8000 rows x 5 columns]

In [51]:
x_test

      hours  score  eca  sleep  practice
9999      7     74    0      8         1
1396      2     68    1      4         7
3889      4     96    1      8         9
7526      7     89    0      6         7
2920      1     89    1      5         5
...     ...    ...  ...    ...       ...
5038      2     98    0      8         8
3843      6     59    0      5         9
1957      1     92    1      4         6
441       1     99    0      7         5
863       1     84    1      9         7

[2000 rows x 5 columns]

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
model = LinearRegression()
model

LinearRegression()

In [54]:
model.fit(x_train, y_train)

LinearRegression()

In [55]:
y_pred = model.predict(x_test)

In [56]:
y_pred

array([65.29205235, 44.78485548, 81.34585894, ..., 66.18814729,
       73.95308548, 60.67518647])

In [57]:
df1 = pd.DataFrame({'Original': y_test, 'Predicted': y_pred})

In [48]:
df1

      Original  Predicted
8454        59  58.398394
5852        55  54.468936
3802        68  70.912138
3672        55  54.329585
7051        63  65.728750
...        ...        ...
5682        39  37.935483
3114        79  80.356117
205         18  21.095196
8958        35  39.486940
3189        60  62.435635

[2000 rows x 2 columns]

In [58]:
#Training Score
model.score(x_train, y_train)

0.9887496915007219

In [59]:
#Test Score
model.score(x_test, y_test)

0.9887567754749914

In [70]:

metrics.mean_squared_error(y_test, y_pred)

4.1937642325159

In [68]:
import sklearn
import sklearn.metrics as metrics

In [69]:
print("Mean Squared Error: ")
metrics.mean_squared_error(y_test, y_pred)

4.1937642325159