In [1]:
import pandas as pd
a = pd.read_csv('foot.csv')

In [3]:
a.head(1)

,name,link,price_usd,mark_price_usd,star_rating,colour,seller_name,review_count,sku_id,hero_image
0,"Women's Casual Sports Shoes, Fashionable Versa...",https://us.shein.com/Women-s-Casual-Sports-Sho...,19.4,24.4,4.83,Khaki,Womens Shoes,77,sx2305270713671620,//img.ltwebstatic.com/images3_spmp/2023/12/19/...

In [5]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899 entries, 0 to 898
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            899 non-null    object
 1   link            899 non-null    object
 2   price_usd       899 non-null    float64
 3   mark_price_usd  899 non-null    float64
 4   star_rating     899 non-null    float64
 5   colour          690 non-null    object
 6   seller_name     9 non-null      object
 7   review_count    899 non-null    object
 8   sku_id          899 non-null    object
 9   hero_image      899 non-null    object
dtypes: float64(3), object(7)
memory usage: 70.4+ KB

In [6]:
a.describe()

        price_usd  mark_price_usd  star_rating
count  899.000000      899.000000   899.000000
mean    17.303537       23.231624     0.043437
std     15.234275       18.266408     0.458675
min      0.610000        2.100000     0.000000
25%     11.900000       16.200000     0.000000
50%     15.800000       21.000000     0.000000
75%     19.990000       26.000000     0.000000
max    247.500000      319.070000     4.920000

In [7]:
from matplotlib import pyplot as plt

In [8]:
import matplotlib.pyplot as plt

In [ ]:
x = ['Ranjit', 'Mukesh', 'Damodar', 'Shrey']
y = [89,86, 82, 88]