In [9]:
import pandas as pd
df = pd.read_csv('pr.csv')
df.head(1)

   area locality    price
0   550  station  1200000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      12 non-null     int64
 1   locality  12 non-null     object
 2   price     12 non-null     int64
dtypes: int64(2), object(1)
memory usage: 420.0+ bytes

In [3]:
# dummy values
# one hot encoding

In [15]:
dummy = pd.get_dummies(df.locality)
dummy

    center    old  station
0    False  False     True
1     True  False    False
2    False   True    False
3    False  False     True
4     True  False    False
5     True  False    False
6    False   True    False
7     True  False    False
8    False  False     True
9    False   True    False
10    True  False    False
11   False  False     True

In [17]:
merged = pd.concat([df, dummy], axis = 'columns')
merged

    area locality    price  center    old  station
0    550  station  1200000   False  False     True
1    600   center  1200000    True  False    False
2    650      old  1400000   False   True    False
3   1200  station  2600000   False  False     True
4   1250   center  3000000    True  False    False
5    800   center  2000000    True  False    False
6    700      old  1450000   False   True    False
7    750   center  1700000    True  False    False
8    825  station  2000000   False  False     True
9    900      old  1900000   False   True    False
10   950   center  2000000    True  False    False
11   950  station  2200000   False  False     True

In [20]:
a = merged.drop(['locality'], axis='columns')

In [21]:
a.replace([True, False], [1,0], inplace=True)

In [22]:
a

    area    price  center  old  station
0    550  1200000       0    0        1
1    600  1200000       1    0        0
2    650  1400000       0    1        0
3   1200  2600000       0    0        1
4   1250  3000000       1    0        0
5    800  2000000       1    0        0
6    700  1450000       0    1        0
7    750  1700000       1    0        0
8    825  2000000       0    0        1
9    900  1900000       0    1        0
10   950  2000000       1    0        0
11   950  2200000       0    0        1

In [23]:
#One Hot Encoding

In [25]:
import pandas as pd
df = pd.read_csv('pr.csv')
df.head(1)

   area locality    price
0   550  station  1200000

In [34]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [35]:
le

LabelEncoder()

In [36]:
a = df

In [37]:
a.locality = le.fit_transform(a.locality)
a

    area  locality    price
0    550         2  1200000
1    600         0  1200000
2    650         1  1400000
3   1200         2  2600000
4   1250         0  3000000
5    800         0  2000000
6    700         1  1450000
7    750         0  1700000
8    825         2  2000000
9    900         1  1900000
10   950         0  2000000
11   950         2  2200000

In [38]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [39]:
model

LinearRegression()

In [41]:
model.fit(a.drop('price', axis='columns'), a.price)

LinearRegression()

In [42]:
model.intercept_

-148671.91612563631

In [43]:
model.coef_

array([ 2420.29303387, -6491.27039832])

In [44]:
model.predict([[1500,2]])

C:\Users\s_nas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3468785.09387612])

In [46]:
a.to_csv('pri.csv')

In [47]:
model.predict([[1500,0]])

#3481767.635

C:\Users\s_nas\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3481767.63467275])

In [48]:
a

    area  locality    price
0    550         2  1200000
1    600         0  1200000
2    650         1  1400000
3   1200         2  2600000
4   1250         0  3000000
5    800         0  2000000
6    700         1  1450000
7    750         0  1700000
8    825         2  2000000
9    900         1  1900000
10   950         0  2000000
11   950         2  2200000

In [ ]:
model.fit(a.price, a.drop('price', axis='columns'))