In [52]:
import pandas as pd
df =pd.read_csv('mobile.csv')

In [53]:
df

    score  price
0      68   9999
1      63   9990
2      75  11999
3      73  11999
4      69  11999
5      75  11990
6      76  11990
7      71  11990
8      75  11599
9      75  12298
10     85  14999
11     78  14999
12     72  14999
13     75  14999
14     75  14999
15     74  14999
16     73  14990
17     75  14990
18     79  14949
19     80  19999
20     80  19999
21     62  19990
22     75  19990
23     76  19799
24     81  19499
25     81  18999

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   score   26 non-null     int64
 1   price   26 non-null     int64
dtypes: int64(2)
memory usage: 548.0 bytes

In [63]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(df.drop('price', axis='columns'), df.price)

In [64]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [65]:
model.fit(x_train, y_train)

LinearRegression()

In [66]:
y_pred = model.predict(x_test)

In [67]:
df1 = pd.DataFrame({'original values':y_test, 'predicted': y_pred})

In [68]:
df1.to_csv('mob.csv')

In [69]:
from sklearn.metrics import mean_absolute_error as mae
mae_error = mae(y_test,y_pred)

In [70]:
mae_error

2278.792070504441

In [71]:
y_pred

array([14912.90107289, 15656.15840959, 15160.65351846, 15656.15840959,
       15656.15840959, 15656.15840959, 15656.15840959])

In [51]:
from sklearn.metrics import mean_squared_error as mse
mse(y_test, y_pred)

20786674.057139453

In [ ]:
7736449.954